/* Esconde os botões de incremento e decremento para o tipo number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::ng-deep .short-input .mat-mdc-form-field-infix {
  padding-top: 14px !important;
}

::ng-deep .short-input .mat-mdc-form-field-flex {
  max-height: 46px !important;
}

::ng-deep .short-input .mat-mdc-form-field-subscript-wrapper {
  height: 0 !important;
}