::ng-deep .short-datepicker .mat-mdc-form-field-infix {
    padding-top: 14px !important;
}
  
::ng-deep .short-datepicker .mat-mdc-form-field-flex {
    max-height: 46px !important;
}

::ng-deep .short-datepicker .mat-mdc-form-field-subscript-wrapper {
    height: 0 !important;
}