<form [formGroup]="form">
    <app-input
      label="Campo A"
      placeholder="Digite um nome"
      formControlName="userName"
      type="coin"
      [maxLength]="10"
      [max]="999.99"
      [min]="-999.99"
      [allowNegativeNumbers]="true"
      [showMessageError]="showMessageError"
      [required]="true"
    ></app-input>

    <app-datepicker 
      type="range-date"
      label="Date de abertura"
      formControlName="date"
      [showMessageError]="showMessageError"
      [required]="true"
    >
    </app-datepicker>
</form>


<app-table
  [columns]="columns"
  [localData]="dados"
></app-table>

<button (click)="mostrarErros()"> Testar </button>

<router-outlet></router-outlet>